*{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #181818;
    margin: 0px;
}
a{
    text-decoration: none;
}
nav{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #212121;
    height: 5vh;
}
nav>h1{
    margin: auto 0px auto auto;
}
.link{
    padding-bottom: 9px;
    margin-top: 17px;
}
.name{
    font-size: 50px;
    margin: auto 0px auto 0px;
    font-weight: bold;
}
.bi-journal-text{
    font-size: 50px;
    margin: auto auto auto 10px;
    color: #ffbb00;
}
.bi-brightness-high{
    font-size: 30px;
    margin: 14px 0 0 auto;
    transition: color 200ms;
}
.bi-brightness-high:hover{
    color: #ffd500;
    cursor: pointer;
}
.settings{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.add_note{
    font-size: x-large;
    background-color: #2e2e2e;
    padding: 8px;
    width: fit-content;
    margin: 10px 0px 0px 10px;
    border-radius: 6px;
    transition: background-color 100ms;
}
.add_note:hover{
    background-color: #3d3d3d;
}
.priority{
    margin: auto auto auto 5px;
    color: #9d9d9d;
}
.wybor{
    font-size: larger;
    margin: 10px 0px 0px 0px;
    border-radius: 6px;
    height: 10px;
    background-color: #2e2e2e;
    border: 0px;
    height: auto;
    padding: 3px;
    width: auto;
    border-radius: 6px;
    transition: background-color 100ms;
}
.wybor:hover{
    background-color: #3d3d3d;
    cursor: pointer;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}
.note{
    background-color: #2c2c2c;
    width: 250px;
    height: 343px;
    font-size: large;
    border-radius: 30px;
    margin: 0px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    transition: background-color 100ms;
}
.note:hover{
    background-color: #3d3d3d;
}
.note_name{
    padding: 15px 15px 9px ;
    font-size: larger;
    font-weight: bold;
    height: auto;
    width: 220px;
    word-wrap: break-word;
}
.note_text{
    padding: 0px 15px 0px;
    color: rgb(214, 214, 214);
    height: 228px;
    width: 220px;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 11; /* number of lines to show */
    -webkit-box-orient: vertical;
    
}
.note_priority{
    padding: 0 0 5px 10px;
    margin: auto 0 10px 10px;
    font-size: medium;
    
}
.note_date{
    font-size: medium;
    padding: 0px 10px 5px 0px;
    font-weight: bold;
    color: rgb(214, 214, 214);
    margin: auto 10px 10px auto;
}
.note_add{
    font-size: 50px;
    margin-top: 55px;
    text-align: center;
    width: 100%;
}
.bi-plus-square{
    font-size: 80px;
    margin: 0px auto 30px auto;
    color: #ffbb00;
}
/*------------------------------------------*/
.main{
    padding: 10% 10% 0px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.title_priority{
    width: 100%;
    margin-right: auto;
}
.title{
    font-size: larger;
}
.title>h1{
    margin: 0px;
    word-wrap: break-word;
}
.priority_detail{
    /*
    color: #ff0000;
    color: #ffa500;
    color: #ffee00;
    color: #39d500;
    color: #0099ff;
    color: #4f4f4f;
    */
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.date_author{
    margin-top: 10px;
    width: 100%;
    float: left;
}
.date{
    margin-bottom: 10px;
}
.author{
    word-wrap: break-word;
}
.text{
    margin-top: 40px;
    width: 100%;
    word-wrap: break-word;
    font-size: large
}
.add{
    font-size: x-large;
    background-color: #2e2e2e;
    padding: 10px 15px;
    width: 70px;
    margin: 10px 5px;
    border-radius: 6px;
    transition: background-color 100ms;
    text-align: center;
}
.add:hover{
    background-color: #3d3d3d;
}
.cancel{
    font-size: x-large;
    background-color: #2e2e2e;
    padding: 10px 15px;
    width: auto;
    margin: 10px 5px;
    border-radius: 6px;
    transition: background-color 100ms;
    text-align: center;
}
.cancel:hover{
    background-color: #3d3d3d;
}
/*-------------------------------------------*/
.edit_form{
    margin: 0px 10%;
    width: 100%;
    height: auto;
}
.edit_title>h1{
    text-align: center;
}
.edit_title>input{
    background-color: #2b2b2b;
    border: 1px solid #767676;
    /*margin: 10px auto auto auto;*/
    border-radius: 5px;
}
.edit_author>input{
    background-color: #2b2b2b;
    border: 1px solid #767676;
    /*margin: 10px auto auto auto;*/
    border-radius: 5px;
}
.edit_form>.edit_title{
    width: fit-content;
    margin: 50px auto 0px auto;
}
.edit_title>input{
    height: 30px;
    width: 300px;
    font-size: large;
}
.edit_author{
    width: fit-content;
    margin: 3% auto 0px auto;
}
.edit_author>h1{
    text-align: center;
}
.edit_author>input{
    height: 30px;
    width: 300px;
    font-size: large;
}
.edit_options{
    margin: 10px 0px;
}
.edit_priority{
    margin: 0px auto;
    color: #9d9d9d;
    width: fit-content;
}
.edit_priority>select{
    font-size: larger;
    border-radius: 6px;
    height: 10px;
    background-color: #2e2e2e;
    border: 0px;
    height: auto;
    padding: 3px;
    width: auto;
    border-radius: 6px;
    transition: background-color 100ms;
}
.edit_priority>select:hover{
    background-color: #3d3d3d;
}
.edit_text{
    width: 100%;
}
.edit_text>textarea{
    width: 100%;
    height: 500px;
    margin: 0px auto 0px auto;
    background-color: #2e2e2e;
    font-size: large;
    border-radius: 5px;
}
.edit_add{
    margin: 10px auto;
    width: fit-content;
}
.edit_cancel{
    background-color: #2b2b2b;
    /*margin: 10px auto auto auto;*/
    border-radius: 5px;
    font-size: 2em;
    border: 0px;
    padding: 10px 15px;
    transition: background-color 100ms;
}
.edit_cancel:hover{
    background-color: #3d3d3d;
}
.edit_add>button{
    background-color: #2b2b2b;
    /*margin: 10px auto auto auto;*/
    border-radius: 5px;
    font-size: 2em;
    border: 0px;
    padding: 10px 15px;
    transition: background-color 100ms;
}
.edit_add>button:hover{
    background-color: #3d3d3d;
}
/*-------------------------------------------*/