{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nots</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <nav>
        <a href=".." class="name">Nots<i class="bi bi-journal-text"></i></a>
        <!--  <h1 class="link"><a>Stona główna</a></h1>  -->
        <!--  <i class="bi bi-brightness-high"></i>  -->
    </nav>
    <div class="settings">
        <div class="add_note"><a href="/add" >Add note</a></div>
        <div class="priority">
            PRIORITY
            <select name="priority" id="priority" class="wybor">
                <option value="descending" {% if request.GET.priority != 'ascending' %}selected{% endif %}>Descending</option>
                <option value="ascending" {% if request.GET.priority == 'ascending' %}selected{% endif %}>Ascending</option>
            </select>
        </div>
    </div>
    <main>
        {% for note in object_list %}
            <a href="/details/{{ note.id }}?priority={{ request.GET.priority }}" class="note">
                <div class="note">
                    <div class="note_name">{{ note.title }}</div>
                    <div class="note_text">{{ note.content }}</div>

                    <div class="note_priority" style="color: {{ note.priority.color }};">{{ note.priority.shortcut }}</div>
                    <div class="note_date">{{ note.created }}</div>
                </div>
            </a>
        {% endfor %}
        <a href="/add" class="note">
            <div class="note">
                <div class="note_add">Add note</div>
                <i class="bi bi-plus-square"></i>
            </div>
        </a>
    </main>
    <script src="{% static "js/script.js" %}"></script>
</body>
</html>